.table-details-list {
  list-style : none;
}

li {
  line-height : 1.2;
}

.input-label {
  font-size      : 16px;
  text-transform : uppercase;
  padding        : 5px;
}

.show-label {
  font-weight : bold;
  padding     : 10px;
  cursor      : pointer;
}
